 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Calling yourself a FullStack developer is like calling yourself a MD. Ok, you have a general view of medicine and I’m sure you can check my pulse, but are you a surgeon or a dermatologist? What is your speciality?
                        <br />
                        <br />
                        If you read a bit about my professional career, I could tell you that i’m a back-end java developer because I’ve been working on java for the last 10 years. 
                        I would probably be lying because out of those 10 years i spent 75 percent of the time building a Javascript SDK, translating specs, working on CSS, Mongodb and dynamoDb, building a Markdown documentation engine and coordinating QA.                            
                    </p>

                </div>
                <div class="col-lg-4">
                    <p>
                        So... Why do I call myself a FullStack developer?
                        <br />
                        <br />

                        I think most people with experience that call themselves FullStack developers are like me. 
                        They are more slanted to one side or the other but they don’t want to be pent-up. 
                        <br />
                        <br />
                        The truth is that i am a product-centered software developer who obtains fulfilment form building thing on my computer. 
                        <br />
                        <br />
                        So the best job title i can find is FullStack developer. Basically, I want to build a great product I can be proud of in a great company to work in.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="data/Malcolm_Haslam_EN.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download English CV
                    </a>
                    <a href="data/Malcolm_Haslam_FR.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download French CV
                    </a>
                </div>
            </div>


            
        </div>
    </section>
